.container{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 200px;
    background-color: white;
    width: 600px;
    padding-bottom: 30px;

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 30px;
}
.text{
    font-size: 36px;
    font-weight: 600;
    color:#3c009d;
}
.underline{
    height:6px;
    width:50px;
    color:#3c009d;
    border-radius: 9px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 25px;
    margin-top: 20px;
}

.input{
    display:flex;
    height: 80px;
    width:480px;
    margin:auto;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width:400px;
    border:none;
    outline: none;
    background: transparent;
    font-size: 18px;
}
.Forget-Password span{
    color:#3c009d;
    font-size: 18px;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap:30px;
    margin: 30px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 220px;
    background-color: #3c009d;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}.grey{
    background:#eaeaea;
    color:black;
}
