nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.navbar-menu-container {
    display: none;
}

.navbar-link-container a{
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;

}

.primary-button {
    padding: 10px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
  }

.navbar-cart-icon{
    font-size: 24px;
    
}

.primary-button:hover {
    background-color: rgb(234, 234, 234);

}

.navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
}
